name: Render nightly thesis.pdf

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "template/**"
  workflow_dispatch:

jobs:
  render-paper:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: typst-community/setup-typst@v4
        with:
          typst-version: ^0.14.0

      - name: Install Fonts
        run: |
          curl --proto '=https' --tlsv1.2 -sSLf https://github.com/chillcicada/tntt/releases/latest/download/fonts.zip -o fonts.zip
          unzip -q fonts.zip
          rm fonts.zip

      - run: typst c template/thesis.typ --root . thesis.pdf --font-path fonts

      - uses: actions/upload-artifact@v4
        with:
          name: thesis
          path: thesis.pdf
