name: Render nightly thesis

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "template/**"
  pull_request:
    types: [opened, edited, synchronize]
  workflow_dispatch:

jobs:
  render-paper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Typst
        uses: typst-community/setup-typst@v4
        with:
          typst-version: latest

      - name: Install Fonts
        run: |
          curl --proto '=https' --tlsv1.2 -sSLf https://github.com/chillcicada/tntt/releases/latest/download/fonts.zip -o fonts.zip
          unzip -q fonts.zip && rm fonts.zip

      - name: Make Configurable Inputs
        run: |
          sed -i template/thesis.typ \
            -e 's/degree: "bachelor"/degree: sys.inputs.at("degree", default: "bachelor")/g' \
            -e 's/degree-type: "academic"/degree-type: sys.inputs.at("degree-type", default: "academic")/g' \
            -e 's/anonymous: false/anonymous: sys.inputs.at("anonymous", default: false)/g' \
            -e 's/twoside: false/twoside: sys.inputs.at("twoside", default: false)/g'

      - name: Render Bachelor Thesis
        run: |
          ./template/thesis.typ --font-path fonts bachelor-academic.pdf
          ./template/thesis.typ --font-path fonts bachelor-academic-anonymous.pdf --input anonymous=true
          ./template/thesis.typ --font-path fonts bachelor-academic-twoside.pdf --input twoside=true
          ./template/thesis.typ --font-path fonts bachelor-academic-anonymous-twoside.pdf --input anonymous=true --input twoside=true

      - name: Render Master Thesis
        run: |
          ./template/thesis.typ --font-path fonts master-academic.pdf --input degree=master
          ./template/thesis.typ --font-path fonts master-academic-anonymous.pdf --input degree=master --input anonymous=true
          ./template/thesis.typ --font-path fonts master-academic-twoside.pdf --input degree=master --input twoside=true
          ./template/thesis.typ --font-path fonts master-academic-anonymous-twoside.pdf --input degree=master --input anonymous=true --input twoside=true

      - name: Upload Artifacts
        if: github.event_name != 'pull_request'
        uses: actions/upload-artifact@v5
        with:
          name: thesis
          path: |
            bachelor-academic.pdf
            bachelor-academic-anonymous.pdf
            bachelor-academic-twoside.pdf
            bachelor-academic-anonymous-twoside.pdf

            master-academic.pdf
            master-academic-anonymous.pdf
            master-academic-twoside.pdf
            master-academic-anonymous-twoside.pdf
